Align definition of API "time" parameter with WFS 3 "datetime" parameter

The STAC definition for the `time` parameter is currently "Single date, date+time, or a range ('/' separator), formatted to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)"

There are also several syntax and semantic differences:
1. WFS 3 now calls this "datetime" http://docs.opengeospatial.org/DRAFTS/17-069r1.html#_parameter_datetime .  Our examples of WFS 3 in examples.md are wrong wrt to this.
1. Duration syntax is  not supported. 
2. ranges allow open and closed datetimes and intervals.
3. RFC 3339 defines complete datetime w/ timezone, so a date only (e.g, 2019-01-01) is not a valid string. Our only /stac/search example in examples.md does this. 
4. Our examples with an interval like P1Y2M10DT2H30M are not supported.  In WFS 3, an interval is explicitly two strings separated by `/`, of which the strings must be an RFC3339 datetime or `..`

I think the work is simply to align our name and definition of this parameter with what WFS 3 has. 



So we inherit this from WFS or is this defined in STAC openAPI files? If this is inherited from WFS, this will probably solve with #472 

See #521 for discussions.

Done with #525.